<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.mvp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="mindmade.com.mvp.utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mindmade.com.mvp.youtube.YoutubeActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="mindmade.com.mvp.youtubePlayer.YoutubePlayerActivity" />
        <!-- <activity android:name=".kotlin.youtube.YoutubeKotlinActivity"></activity> -->

        <activity android:name="mindmade.com.mvp.kotlin.youtube.YoutubeKotlinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <activity android:name=".section_concept.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>